<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Security-Policy" content="default-src *; script-src 'self' 'unsafe-inline' 'unsafe-eval' *; style-src  'self' 'unsafe-inline' *">

    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/angular-resource/angular-resource.js"></script>
    <!-- jquery -->
    <script src="lib/jquery/jquery-2.2.0.min.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/services.js"></script>
  </head>
  <body ng-app="starter">

    <ion-pane>
      <ion-header-bar class="bar-stable">
        <h1 class="title">Ionic Blank Starter</h1>
      </ion-header-bar>
      <ion-content>

    <div ng-controller="SelectController">
        <div style='height: 15px;'>
            &nbsp;</div>
    <div style='height: 15px;'>
            &nbsp;</div>
        <div>
        <div>
            <!--Provincia:<select id="provincia" ng-model="tipossource" ng-options="provincia for (provincia,tipo) in provincias" ng-change="GetSelectedProvincia()"><option value=''>Seleccione</option>
            </select>-->
            Provincia:<select id="provincia" ng-model="tipossource" ng-options="provincia.ubicacion for provincia in provincias" ng-change="GetSelectedProvincia()"><option value=''>Seleccione</option>
            </select>
        </div>
        <div style='height: 15px;'>
            &nbsp;</div>
        <div>
            Tipo:<select id="tipo" ng-disabled="!tipossource" ng-model="tipo" ng-change="GetSelectedTipo()"><option value=''>
                Seleccione</option>
                <option ng-repeat="tipo in tipos" value='{{tipo.tipo}}'>{{tipo.tipo}}</option>
            </select>
        </div>

        <div style='height: 15px;'>
            &nbsp;</div>
        
        <div>
            <span>Provincia seleccionada: </span>
            <label>
                {{strProvincia}}</label>
        </div>
        <div style='height: 15px;'>
            &nbsp;</div>
        <div>
            <span>Tipo seleccionado: </span>
            <label>
                {{strTipo}}</label>
        </div>




      </ion-content>
    </ion-pane>
  </body>
</html>
